.full-page-container {
  background: linear-gradient(
    180deg,
    #00efa9 0%,
    #1fa4cc 90%,
    grey 100%
  ) !important;
  height: 40%;
}

.full-page-container .toolbar-container {
  --background: transparent;
}

.full-page-container .profile-image-container {
  display: flex;
  justify-content: center;
}

.full-page-container .profile-image-container .profile-image {
  width: 100px;
  height: 100px;
}

.full-page-container .username-container {
  text-align: center;
  color: white;
}

.filter-button-container {
  padding: 3%;
}

.filter-button-container .calendar-icon {
  color: #05e4ae;
  margin-right: 2%;
}

.filter-button-container .filter-text {
  color: grey;
}

.date-selection-container {
  display: flex;
  justify-content: space-between;
  margin: 0 3% 3%;
}

.date-selection-container .date-selection-item {
  border: 1px solid #05e4ae;
  width: 45%;
}

.day-selection {
  border: 1px solid #05e4ae;
  border-left: none;
  border-right: none;
  padding: 2% 0;
  overflow: hidden;
  white-space: nowrap;
  ::-webkit-scrollbar {
    display: none;
  }
  .scroll {
    overflow: auto;
    .span-container {
      margin: 0 4%;
    }
  }
}

.log-list-container {
  display: flex;
  margin: 3%;
}

.log-list-container .pin-icon {
  font-size: 50px;
  color: #0dd0b7;
}

.log-list-container .log-indicator {
  width: 1%;
  background-color: #17b8c3;
  margin: 0 5%;
}

.log-list-container .log-item-container {
  color: grey;
  flex: 2;
}

.log-list-container .log-item-container .log-text {
  margin: 0;
  font-size: 12px;
}

.log-list-container .log-time {
  margin-right: 2%;
  font-size: 12px;
}
