<ion-content>
  <div class="full-page-container">
    <ion-toolbar class="toolbar-container">
      <ion-buttons slot="start" color="transparent">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
    <div class="profile-image-container">
      <ion-avatar class="profile-image">
        <img src="../assets/icon/sample-icon.png" />
      </ion-avatar>
    </div>
    <h3 class="username-container">{{ userName }}</h3>
  </div>
  <div class="filter-button-container">
    <ion-button color="transparent" (click)="clickFilter()"
      ><ion-icon name="calendar" class="calendar-icon"></ion-icon>
      <ion-label class="filter-text">Filter</ion-label>
    </ion-button>
  </div>
  <div class="date-selection-container" *ngIf="isFilterButtonClicked == true">
    <ion-item class="date-selection-item">
      <ion-datetime
        display-format="DD/MM/YYYY"
        [(ngModel)]="myDate"
      ></ion-datetime>
    </ion-item>
    <ion-item class="date-selection-item">
      <ion-datetime
        display-format="DD/MM/YYYY"
        [(ngModel)]="myDate"
      ></ion-datetime>
    </ion-item>
  </div>
  <div class="day-selection">
    <div class="scroll" scrollX="true">
      <span
        *ngFor="let day of days"
        class="span-container"
        (click)="selectDay(day)"
        >{{ day }}</span
      >
    </div>
  </div>
  <ion-list>
    <div class="log-list-container" *ngFor="let log of logBook">
      <div>
        <ion-icon name="pin" class="pin-icon"></ion-icon>
      </div>
      <div class="log-indicator"></div>
      <div class="log-item-container">
        <p class="log-text">{{ log.date }}</p>
        <p class="log-text">{{ log.companyId }}</p>
        <p class="log-text">{{ log.geolocation }}</p>
      </div>
      <div class="log-time">{{ log.time }}</div>
    </div>
  </ion-list>
</ion-content>
