.card-container {
  --background: linear-gradient(180deg, #00efa9 0%, #3f56f0 100%) !important;
  height: 30.8%;
  margin: 0;
  border-radius: 0;
  color: white;
}
.home-header {
  --background: #00efa9;
  color: white;
  text-align: center;
}
.card-content {
  display: flex;
  padding: 40px;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.card-content .card-initial-icon {
  font-size: 100px;
  margin-right: 30px;
}
.card-content .title {
  width: 40%;
}
.card-content .card-final-icon {
  font-size: 50px;
  margin-left: 30px;
}
