<ion-content>
  <ion-toolbar class="home-header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      SELECT APPLICATION
    </ion-title>
  </ion-toolbar>
  <ion-card class="card-container" routerLink="/home">
    <ion-card-content class="card-content">
      <ion-icon name="pin" class="card-initial-icon"></ion-icon>
      <h1 class="title">e-Badge</h1>
      <ion-icon name="arrow-forward" class="card-final-icon"></ion-icon>
    </ion-card-content>
  </ion-card>
  <ion-card class="card-container">
    <ion-card-content class="card-content">
      <ion-icon name="calendar" class="card-initial-icon"></ion-icon>
      <h1 class="title">e-Leave</h1>
      <ion-icon name="arrow-forward" class="card-final-icon"></ion-icon>
    </ion-card-content>
  </ion-card>
  <ion-card class="card-container">
    <ion-card-content class="card-content">
      <ion-icon name="paper" class="card-initial-icon"></ion-icon>
      <h1 class="title">e-Claim</h1>
      <ion-icon name="arrow-forward" class="card-final-icon"></ion-icon>
    </ion-card-content>
  </ion-card>
</ion-content>
