<ion-content class="full-page-container">
  <div class="full-page-content">
    <ion-avatar class="profile-image">
      <img src="../assets/icon/sample-icon.png" />
    </ion-avatar>
    <ion-label class="sublogin-title"> Profile <b>SETTING</b></ion-label>
    <ion-item lines="none" color="transparent" class="input-container">
      <ion-label> <ion-icon name="person"></ion-icon></ion-label>
      <ion-input type="text" placeholder="Full name"></ion-input>
    </ion-item>
    <ion-item lines="none" color="transparent" class="input-container">
      <ion-label> <ion-icon name="call"></ion-icon></ion-label>
      <ion-input type="number" placeholder="+601234567890"></ion-input>
    </ion-item>
    <ion-item lines="none" color="transparent" class="input-container">
      <ion-label> <ion-icon name="mail"></ion-icon></ion-label>
      <ion-input type="email" placeholder="example@domain.com"></ion-input>
    </ion-item>
    <ion-label class="sublogin-title"> Create <b>USERNAME</b></ion-label>
    <ion-item lines="none" color="transparent" class="input-container">
      <ion-label> <ion-icon name="person"></ion-icon></ion-label>
      <ion-input type="text" placeholder="Username"></ion-input>
    </ion-item>
    <ion-label class="sublogin-title"> Create <b>PASSWORD</b></ion-label>
    <ion-item lines="none" color="transparent" class="input-container">
      <ion-label> <ion-icon name="unlock"></ion-icon></ion-label>
      <ion-input type="password" placeholder="New Password"></ion-input>
    </ion-item>
    <ion-item lines="none" color="transparent" class="input-container">
      <ion-label> <ion-icon name="unlock"></ion-icon></ion-label>
      <ion-input type="password" placeholder="Confirm New Password"></ion-input>
    </ion-item>
    <div class="buttons-container" *ngIf="previousPath == 'sidemenu'">
      <div class="first-time-login-container">
        <ion-button
          lines="none"
          color="transparent"
          class="cancel-button"
          routerLink="/select-application"
        >
          <ion-label>Cancel</ion-label>
        </ion-button>
      </div>
      <div class="first-time-login-container">
        <ion-button
          lines="none"
          color="transparent"
          class="save-button"
          routerLink="/home"
        >
          <ion-label>Save</ion-label>
        </ion-button>
      </div>
    </div>
    <ion-icon
      name="arrow-forward"
      class="next-button"
      routerLink="/home"
      *ngIf="previousPath !== 'sidemenu'"
    ></ion-icon>
  </div>
</ion-content>
