.full-page-container {
  --background: linear-gradient(180deg, #00efa9 0%, #3f56f0 100%) !important;
  height: 100%;
  width: 100%;
}

.full-page-container .full-page-content {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.full-page-container .full-page-content .profile-image {
  width: 100px;
  height: 100px;
}

.full-page-container .full-page-content .sublogin-title {
  border-bottom: 2px solid white;
  margin-top: 5%;
}

.full-page-container .full-page-content .input-container {
  border: 3px solid #71dfe2;
  border-radius: 50px;
  margin: 5px 0;
  display: flex;
  width: 80%;
}

.full-page-container .full-page-content .buttons-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.full-page-container
  .full-page-content
  .buttons-container
  .first-time-login-container {
  width: 45%;
}

.full-page-container
  .full-page-content
  .buttons-container
  .first-time-login-container
  .cancel-button {
  --box-shadow: none;
  text-transform: none;
  border-radius: 25px;
  background: silver;
  width: 100%;
}

.full-page-container
  .full-page-content
  .buttons-container
  .first-time-login-container
  .save-button {
  --box-shadow: none;
  text-transform: none;
  border-radius: 25px;
  background: aqua;
  width: 100%;
  color: black;
}

.full-page-container .full-page-content .next-button {
  font-size: 50px;
  background-color: #71dfe2;
  border-radius: 50%;
  margin-top: 5%;
}
