.full-page-container {
  --background: linear-gradient(180deg, #00efa9 0%, #3f56f0 100%) !important;
  height: 100%;
  width: 100%;
}

.full-page-container .full-page-content {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  height: 90%;
}

.full-page-container .full-page-content .profile-image-container {
  width: 70%;
  height: 15%;
}

.full-page-container .full-page-content .ebadge-text {
  border-bottom: 2px solid white;
  margin: 5% 0;
  font-size: 30px;
}

.full-page-container .full-page-content .input-container {
  border: 3px solid #71dfe2;
  border-radius: 50px;
  margin: 5px 0;
  display: flex;
  width: 80%;
}

.full-page-container .full-page-content .password-related-container {
  display: flex;
  justify-content: space-between;
  width: 85%;
}

.full-page-container
  .full-page-content
  .password-related-container
  .show-password-container {
  width: 50%;
}

.full-page-container
  .full-page-content
  .password-related-container
  .show-password-container
  .show-password-label {
  margin-left: 2%;
  color: white;
  font-size: 10px;
}

.full-page-container
  .full-page-content
  .password-related-container
  .forgot-password-button {
  text-transform: none;
  --box-shadow: none;
  margin-top: 3%;
  padding: 0;
  font-size: 10px;
}

.full-page-container .full-page-content .login-button {
  width: 80%;
  --box-shadow: none;
  text-transform: none;
  border-radius: 25px;
  background: silver;
  color: black;
}
