<ion-content class="full-page-container">
  <div class="full-page-content">
    <div class="profile-image-container">
      <img src="../assets/icon/white-theta-icon@2x.png" />
    </div>
    <ion-label class="ebadge-text"> Welcome to <b>E-BADGE</b></ion-label>
    <ion-item lines="none" color="transparent" class="input-container">
      <ion-label> <ion-icon name="person"></ion-icon></ion-label>
      <ion-input type="email" placeholder="Username"></ion-input>
    </ion-item>
    <ion-item lines="none" color="transparent" class="input-container">
      <ion-label> <ion-icon name="unlock"></ion-icon></ion-label>
      <ion-input type="password" placeholder="Password"></ion-input>
    </ion-item>
    <div class="password-related-container">
      <ion-item
        lines="none"
        color="transparent"
        class="show-password-container"
      >
        <ion-checkbox></ion-checkbox>
        <ion-label class="show-password-label">Show password</ion-label>
      </ion-item>
      <ion-button class="forgot-password-button" color="transparent"
        >Forgot Password?</ion-button
      >
    </div>
    <ion-button
      lines="none"
      color="transparent"
      routerLink="{{ currentPath }}"
      class="login-button"
      >Sign In</ion-button
    >
  </div>
</ion-content>
