<ion-tabs>
  <ion-tab-bar slot="bottom" class="tab-container">
    <ion-tab-button tab="check-in">
      <ion-icon class="tab-icon" name="pin"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="around-me">
      <ion-icon class="tab-icon" name="search"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="log-report">
      <ion-icon class="tab-icon" name="paper"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="id-card">
      <ion-icon class="tab-icon" name="card"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
