<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-content class="content-container">
        <div class="content-div">
          <ion-avatar class="profile-image">
            <img src="../assets/icon/sample-icon.png" />
          </ion-avatar>
          <h3 class="username">{{ userName }}</h3>
        </div>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item
              [routerDirection]="'root'"
              [routerLink]="[p.url]"
              color="transparent"
              lines="none"
              class="list-title"
              (click)="p.title == 'Account' && clickAccount()"
            >
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{ p.title }}
              </ion-label>
              <ion-icon name="arrow-forward"></ion-icon>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-footer class="footer-container">
        <ion-toolbar class="toolbar-container">
          <div class="toolbar-div">
            <div class="theta-image-container">
              <img src="../assets/icon/white-theta-icon.png" />
            </div>
          </div>
        </ion-toolbar>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
