.content-container {
  --background: linear-gradient(
    181deg,
    #4b4b4b 0%,
    #2d3131 50%,
    #2c99c2 100%
  ) !important;
}

.content-container .content-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 10px;
}

.content-container .content-div .profile-image {
  width: 100px;
  height: 100px;
}

.content-container .content-div .username {
  text-align: center;
  color: white;
}

.content-container .list-title {
  color: white;
}

.list-md {
  background: none;
}

.footer-container {
  border: none;
  box-shadow: none;
}

.footer-container .toolbar-container {
  --background: #2c99c2;
}

.footer-container .toolbar-container .toolbar-div {
  display: flex;
  justify-content: center;
  border: none;
  box-shadow: none;
}

.footer-container .toolbar-container .toolbar-div .theta-image-container {
  width: 60%;
  height: 20%;
}

.footer-md:before {
  background-image: none;
}
