<ion-content>
  <div class="full-page-container" id="map_canvas">
    <ion-toolbar class="toolbar-container">
      <ion-buttons slot="start" color="transparent">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
    <div class="top-input-container">
      <ion-item lines="none">
        <ion-input
          type="text"
          placeholder="Who are you looking for?"
        ></ion-input>
        <ion-label
          ><ion-icon name="search" (click)="searchAroundMe()"></ion-icon
        ></ion-label>
      </ion-item>
    </div>
    <div class="list-container" *ngIf="colleagues.length > 0">
      <p>Sort by company</p>
      <div class="buttons-container">
        <ion-button size="small" color="light" class="company-button"
          >Theta Edge</ion-button
        >
        <ion-button size="small" color="light" class="company-button"
          >Theta Grentech</ion-button
        >
        <ion-button size="small" color="light" class="company-button"
          >Tech Telco</ion-button
        >
      </div>
      <div *ngFor="let colleague of colleagues" class="search-result-container">
        <div class="profile-image-container">
          <ion-avatar class="profile-image">
            <img [src]="colleague.image" />
          </ion-avatar>
        </div>
        <div class="details-container">
          <h6 class="name">
            {{ colleague.name }}
          </h6>
          <p class="company">
            {{ colleague.company }}
          </p>
        </div>
        <div class="distance-container">
          <ion-label>{{ colleague.distance }}</ion-label>
        </div>
      </div>
    </div>
  </div>
</ion-content>
