.full-page-container {
  height: 100%;
}

.full-page-container .toolbar-container {
  --background: transparent;
}

.full-page-container .top-input-container {
  position: fixed;
  background-color: white;
  height: 7%;
  top: 8%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 4%;
}

.full-page-container .list-container {
  position: fixed;
  background-color: white;
  height: 80%;
  top: 17%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 4%;
  padding: 0 3%;
}

.full-page-container .list-container .buttons-container {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
  width: 100%;
}

.full-page-container .list-container .buttons-container .company-button {
  font-size: 12px;
  text-transform: none;
}

.full-page-container .list-container .search-result-container {
  display: flex;
  width: 100%;
}

.full-page-container
  .list-container
  .search-result-container
  .profile-image-container {
  width: 20%;
}

.full-page-container
  .list-container
  .search-result-container
  .profile-image-container
  .profile-image {
  width: 45px;
  height: 45px;
}

.full-page-container
  .list-container
  .search-result-container
  .details-container {
  width: 50%;
}

.full-page-container
  .list-container
  .search-result-container
  .details-container
  .name {
  margin: 0;
}

.full-page-container
  .list-container
  .search-result-container
  .details-container
  .company {
  margin-top: 0;
  color: grey;
}

.full-page-container
  .list-container
  .search-result-container
  .distance-container {
  width: 30%;
}
