<ion-content>
  <div class="full-page-container" id="map_canvas">
    <ion-toolbar class="toolbar-container">
      <ion-buttons slot="start" color="transparent">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
    <div class="checkin-input-container">
      <ion-item lines="none">
        <ion-label> <ion-icon name="person"></ion-icon></ion-label>
        <ion-input type="text" placeholder="Full name"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label> <ion-icon name="folder"></ion-icon></ion-label>
        <ion-input type="text" placeholder="Project"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label> <ion-icon name="paper"></ion-icon></ion-label>
        <ion-input type="text" placeholder="Purpose"></ion-input>
      </ion-item>
      <ion-button
        expand="block"
        class="check-in-button"
        routerLink="/tabs/log-report"
        >Check In</ion-button
      >
    </div>
  </div>
</ion-content>
