.check-in-button {
  --background: #289d85;
}

.full-page-container {
  height: 100%;
}

.full-page-container .toolbar-container {
  --background: transparent;
}

.full-page-container .checkin-input-container {
  position: fixed;
  background-color: white;
  height: 35%;
  top: 62%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 4%;
  padding: 4%;
}

.full-page-container .checkin-input-container .check-in-button {
  --background: #289d85;
  text-transform: none;
}
