.home-header {
  --background: #00efa9;
}
.header-md:after {
  position: fixed;
}

.intro-card {
  --background: linear-gradient(180deg, #00efa9 0%, #3f56f0 100%) !important;
  height: 33.33%;
  margin: 0;
  border-radius: 0;
  color: white;
}

.intro-card .overlay-card-button-container {
  position: fixed;
  height: 25%;
  top: 15%;
  left: 0%;
  right: 0;
  bottom: 0;
}

.intro-card .overlay-card-button-container .white-theta-icon-container {
  display: flex;
  justify-content: center;
}

.intro-card
  .overlay-card-button-container
  .white-theta-icon-container
  .white-theta-icon {
  width: 60%;
}

.intro-card .overlay-card-button-container .ebadge-text-container {
  display: flex;
  justify-content: center;
}

.intro-card .overlay-card-button-container .ebadge-text-container .ebadge-text {
  font-size: 25px;
}

.four-buttons-container {
  position: fixed;
  height: 60%;
  top: 30%;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 20px;
}

.four-buttons-container .two-buttons-container {
  display: flex;
  height: 43%;
  justify-content: space-evenly;
}

.four-buttons-container .two-buttons-container .card-button {
  background: white;
  margin: 20px;
  width: 150px;
  height: 150px;
}

.four-buttons-container
  .two-buttons-container
  .card-button
  .card-button-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.four-buttons-container
  .two-buttons-container
  .card-button
  .card-button-content
  .icon-button {
  font-size: 100px;
  color: #00efa9;
}
