<ion-header>
  <ion-toolbar class="home-header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="intro-card">
    <ion-card-content>
      <img src="../assets/icon/map-icon.png" />
      <div class="overlay-card-button-container">
        <div class="white-theta-icon-container">
          <img
            class="white-theta-icon"
            height="60%"
            src="../assets/icon/white-theta-icon.png"
          />
        </div>
        <div class="ebadge-text-container">
          <ion-label class="ebadge-text">E-BADGE APPLICATION</ion-label>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
  <div class="four-buttons-container">
    <div class="two-buttons-container">
      <ion-card class="card-button" routerLink="/tabs/check-in">
        <ion-card-content>
          <div class="card-button-content">
            <ion-icon name="pin" class="icon-button"></ion-icon>
            <ion-label>Check in</ion-label>
          </div>
        </ion-card-content>
      </ion-card>
      <ion-card class="card-button" routerLink="/tabs/around-me">
        <ion-card-content>
          <div class="card-button-content">
            <ion-icon name="search" class="icon-button"></ion-icon>
            <ion-label>Around me</ion-label>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
    <div class="two-buttons-container">
      <ion-card class="card-button" routerLink="/tabs/log-report">
        <ion-card-content>
          <div class="card-button-content">
            <ion-icon name="paper" class="icon-button"></ion-icon>
            <ion-label>Log report</ion-label>
          </div>
        </ion-card-content>
      </ion-card>
      <ion-card class="card-button" routerLink="/tabs/id-card">
        <ion-card-content>
          <div class="card-button-content">
            <ion-icon name="card" class="icon-button"></ion-icon>
            <ion-label>ID Card</ion-label>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
