<ion-content>
  <ion-toolbar class="toolbar-container">
    <ion-menu-button></ion-menu-button>
  </ion-toolbar>
  <div class="id-card-container">
    <div
      [className]="
        isPictureSelected ? 'glowing-block' : 'profile-image-container'
      "
      (click)="selectImage()"
    >
      <img
        src="../assets/icon/sample-id-card.jpeg"
        width="275px"
        height="425px"
      />
    </div>
    <!-- <div class="glowing-block"></div> -->
  </div>
</ion-content>
