.toolbar-container {
  --background: linear-gradient(#00efa9 0%, #1fa4cc 90%, grey 100%) !important;
}

.id-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 100%;
}

.profile-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
}

.glowing-block {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #000, #272727);
  box-shadow: inset 60px 0 120px #f0f, inset -60px 0 120px #0ff;
}
